@model SimpleVegan.Models.BlogPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity;

<body style="background-color:#eaedf2;">

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color: deeppink; color: white;">
                <div style="text-align: center;">
                    <h1>@Model.Title</h1>
                    <p>
                        <i>A blog by @Model.Member.FirstName @Model.Member.LastName</i>
                    </p>
                    <p>Posted on @Model.Dop</p>
                </div>
            </div>
        </div>
    </div>


    <div style="margin: 0 5% 5% 5%; padding: 15px; background-color: white;">
        @Html.Raw(Model.Body)
    </div>

    <div class="col-md-offset-5 col-md-7" style="margin-bottom: 70px;">
        @if (string.Equals(User.Identity.GetUserId(), Model.Member.userId))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.BlogPostID }, new { @class = "btn btn-default" })
        }

        @Html.ActionLink("Back to Blog", "Index", null, new { @class = "btn btn-default" })
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    }
