@model IEnumerable<SimpleVegan.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity;

<body style="background-color:#eaedf2;">
</body>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-three">
            <div class="highlights" style="text-align: center;">
                <h1>Community Blog</h1>
                <p>
                    <i>“There is no greater agony than bearing an untold story inside you.” – Maya Angelou, I Know Why the Caged Bird Sings</i>
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <p> @Html.ActionLink("Post a Blog", "Create", "BlogPosts", new { area = "" }, new { @class = "btn btn-default btn-lg" })</p>
                }
            </div>
        </div>
    </div>
</div>

@{ 
    //keeps count of colour change
    var count = 0;
}

@foreach (var item in Model)
{

    string backColor = "deeppink";
    if (count % 2 == 0)
    {
        backColor = "black";
    }
    else
    {
        backColor = "deeppink";
    }
    <div class="row" style="margin-top: 30px; margin:5%; height: 50%; display: flex;">
        <div class="col-md-2" style="background-color: @backColor; color: white; padding: 10px; display: table-cell; float: none;
        vertical-align: top;">
            <h2> @Html.DisplayFor(modelItem => item.Member.FirstName)</h2>
            @{ 
                var numDays = Math.Round((DateTime.Now - item.Dop).TotalDays);
                var numHours = Math.Round((DateTime.Now - item.Dop).TotalHours);
                var numMinutes = Math.Round((DateTime.Now - item.Dop).TotalMinutes);

            }
            
            @if (numDays < 1)
            {
                if (numHours < 1)
                {
                    <p>@numMinutes minute(s) ago.</p>
                }
                else
                {
                    <p>@numHours hour(s) ago.</p>
                }
            }
            else
            {
                <p>@numDays day(s) ago</p>
            }
            <p> @item.Dop.Day/@item.Dop.Month/@item.Dop.Year </p>
        </div>
        <div class="col-md-10 row-eq-height" style="padding-left: 10px; background-color: white; display: table-cell; float: none;
        vertical-align: top;">
            <h3> @Html.DisplayFor(modelItem => item.Title)</h3>
            @{
                //only displays a substring of the entire article
                var htmlPartText = Html.Raw(item.Body).ToString();
                var partText = " ";

                if (!string.IsNullOrEmpty(htmlPartText)) {
                    //using regex to remove html tags from text
                    var extractedText = htmlPartText.Replace("<br />", Environment.NewLine);
                    extractedText = System.Text.RegularExpressions.Regex.Replace(extractedText, "<.*?>", string.Empty);


                    partText = extractedText.Substring(0, Math.Min(extractedText.Length, 400));

                }

            }
            <h4 style="line-height:1.3;">@partText ...@Html.ActionLink("Read More", "Details", new { id = item.BlogPostID })</h4>

            @if (string.Equals(User.Identity.GetUserId(), item.Member.userId) || User.IsInRole("Admin"))
            {
                <p>
                    <hr style="border-color:silver; border-style:dashed;" />
                    @Html.ActionLink("Edit", "Edit", new { id = item.BlogPostID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BlogPostID })
                </p>
            }
        </div>
    </div>

                    count = count + 1;

 }

